---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title='Astro'>
	<Header />
	<div class="relative h-[25rem] md:h-[27rem] lg:h-[33rem] xl:h-[36rem]">
		<img src="/img/hero-homepage.jpeg" class="absolute inset-0 w-full h-full object-cover z-10" alt="">
		<div class="h-24 md:h-32 w-3/5 sm:w-[35%] md:w-2/5 absolute top-1/2 -translate-y-1/2 left-0 bg-linear-to-r from-black z-20"></div>
		<div class="container flex items-center h-full relative z-30">
			<h1 class="uppercase text-white text-4xl md:text-5xl lg:text-6xl font-medium lg:pl-10 xl:pl-24">DIENSTEN</h1>
		</div>
	</div>
	<div class="container py-12 md:py-16">
		<div>
			<div class="md:w-4/5 lg:w-3/5 xl:w-1/2 mx-auto text-center pb-9">
				<p class="text-sm">Numquas necus sinimin verrorecto tectus exerita tiatureperia eatur rem quamentorum aut molute volupta tectota ererumquis est et ad quiam, consequ asinulpa que idi utate perovit et vel etus molupta tiorem dolupta cuptatur moluptam.</p>
			</div>
			<div class="overflow-auto relative">
				<div class="flex gap-5 xl:gap-8 whitespace-nowrap">
					<div class="relative flex items-center w-52 md:w-46 xl:w-56 h-64 xl:h-72 shrink-0">
						<img src="/img/hero-homepage.jpeg" class="absolute inset-0 w-full h-full object-cover" alt="">
						<div class="absolute z-20 w-full h-full bg-linear-to-b from-black hover:from-white to-brand-primary opacity-75 transition-colors duration-300 ease-linear hover:to-transparent to-30%"></div>
						<div class="relative z-30 pb-3 flex justify-center w-full">
							<h3 class="text-center font-bold text-2xl/[24px] text-white uppercase">FEED</h3>
						</div>
					</div>
					<div class="relative flex items-center w-52 md:w-46 xl:w-56 h-64 xl:h-72 shrink-0">
						<img src="/img/bg-foods.jpeg" class="absolute inset-0 w-full h-full object-cover" alt="">
						<div class="absolute z-20 w-full h-full bg-linear-to-b from-black hover:from-white to-brand-primary opacity-75 transition-colors duration-300 ease-linear hover:to-transparent to-30%"></div>
						<div class="relative z-30 pb-3 flex justify-center w-full">
							<h3 class="text-center font-bold text-2xl/[24px] text-white uppercase">FOOD</h3>
						</div>
					</div>
					<div class="relative flex items-center w-52 md:w-46 xl:w-56 h-64 xl:h-72 shrink-0">
						<img src="/img/bg-technics.jpeg" class="absolute inset-0 w-full h-full object-cover" alt="">
						<div class="absolute z-20 w-full h-full bg-linear-to-b from-black hover:from-white to-brand-primary opacity-75 transition-colors duration-300 ease-linear hover:to-transparent to-30%"></div>
						<div class="relative z-30 pb-3 flex justify-center w-full">
							<h3 class="text-center font-bold text-2xl/[24px] text-white uppercase">TECHNICS</h3>
						</div>
					</div>
					<div class="relative flex items-center w-52 md:w-46 xl:w-56 h-64 xl:h-72 shrink-0">
						<img src="/img/bg-container.jpeg" class="absolute inset-0 w-full h-full object-cover" alt="">
						<div class="absolute z-20 w-full h-full bg-linear-to-b from-black hover:from-white to-brand-primary opacity-75 transition-colors duration-300 ease-linear hover:to-transparent to-30%"></div>
						<div class="relative z-30 pb-3 flex justify-center w-full">
							<h3 class="text-center font-bold text-2xl/[24px] text-white uppercase">CONTAINER</h3>
						</div>
					</div>
					<div class="relative flex items-center w-52 md:w-46 xl:w-56 h-64 xl:h-72 shrink-0">
						<img src="/img/bg-technical-services.jpeg" class="absolute inset-0 w-full h-full object-cover" alt="">
						<div class="absolute z-20 w-full h-full bg-linear-to-b from-black hover:from-white to-brand-primary opacity-75 transition-colors duration-300 ease-linear hover:to-transparent to-30%"></div>
						<div class="relative z-30 pb-3 flex justify-center w-full">
							<h3 class="text-center font-bold text-2xl/[24px] text-white uppercase">TECHNICAL <br/> SERVICES</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="relative h-1 bg-brand-primary w-full mt-6 lg:mt-9">
				<div class="absolute inset-y-0 left-0 w-46 xl:w-56 h-full bg-black"></div>
			</div>
		</div>
		<div class="pt-10 md:pt-14 xl:pt-20 flex flex-col lg:flex-row gap-11 lg:gap-16">
			<div class="lg:w-1/2">
				<h2 class="text-xl md:text-2xl font-bold pb-5">FEED</h2>
				<div class="prose max-w-full text-black prose-p:text-xs prose-ul:list-none prose-ul:list-outside prose-li:text-xs prose-li:pl-0 prose-ul:pl-0 prose-li:!my-0">
					<p>Numquas necus sinimin verrorecto tectus exerita tiatureperia eatur rem quamentorum aut molute volupta tectota ererumquis est et ad quiam, consequ asinulpa que idi utate perovit et vel etus molupta tiorem dolupta cuptatur moluptam.
					</p>
					<p>Numquas necus sinimin verrorecto tectus exerita tiatureperia eatur rem quamentorum aut molute volupta tectota ererumquis est et ad quiam, consequ asinulpa que idi utate perovit et vel etus molupta tiorem dolupta cuptatur moluptam.</p>
					<p>Resciist a nobit qui nonsecumque moste mod eum, unt ut exceperum fuga. Nemquia des ditioribus eum quidell anientum id magnimi llique poremporit voles parumque nat vendese quaest, odiaeperum que landeria.</p>
				</div>
			</div>
			<div class="lg:w-1/2 shrink-0 relative">
					<img src="/img/hero-homepage.jpeg" class="w-full h-72 opacity-70 object-cover " alt="">
					<div class="absolute inset-0 bg-linear-to-r from-black/60 to-black/30 w-full h-full z-20"></div>
			</div>
		</div>
	</div>
	<div class="relative">
		<img src="/img/hero-homepage.jpeg" class="absolute inset-0 w-full h-full object-cover opacity-70" alt="">
		<div class="absolute inset-0 bg-linear-to-r from-black/60 to-black/30 w-full h-full z-20"></div>
		<div class="container py-10 relative z-40">
			<div class="lg:px-16 xl:px-52 flex flex-col md:flex-row gap-12 lg:gap-16 items-center">
				<div class="md:w-1/2">
					<h2 class="text-white font-bold text-3xl">Wilt u een vraag aan ons stellen?</h2>
				</div>
				<form class="md:w-1/2 space-y-2">
					<input type="text" name="name" id="name" class="text-white placeholder-white font-medium text-[15px] p-0 border-b border-t-0 border-r-0 border-l-0 border-white bg-transparent w-full" placeholder="Naam">
					<input type="text" name="tel" id="tel" class="text-white placeholder-white font-medium text-[15px] p-0 border-b border-t-0 border-r-0 border-l-0 border-white bg-transparent w-full" placeholder="Tel">
					<input type="email" name="email" id="email" class="text-white placeholder-white font-medium text-[15px] p-0 border-b border-t-0 border-r-0 border-l-0 border-white bg-transparent w-full" placeholder="E-mail">
					<textarea name="message" id="message" class="text-white placeholder-white font-medium text-[15px] p-0 border-b border-t-0 border-r-0 border-l-0 border-white bg-transparent w-full h-24">Bericht</textarea>
					<div class="flex justify-end">
						<button class="uppercase font-bold text-white text-[15px] hover:text-[#62d3f3] transition-colors duration-300 ease-linear">VERZENDEN</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<Footer />
</Layout>
