<div class="pt-10">
	<div class="container flex justify-center text-center pb-3">
		<a href="/">
			<svg class="h-8 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9999 10.8284L7.0502 15.7782L5.63599 14.364L11.9999 8L18.3639 14.364L16.9497 15.7782L11.9999 10.8284Z"></path></svg>
			<p class="uppercase font-bold text-sm">BACK TO TOP</p>
		</a>
	</div>
	<div class="w-full h-[2px] bg-brand-primary"></div>
	<div class="container py-4">
		<div class="text-center space-y-1">
			<p class="font-light text-[10px]">Schatting 48A - Zedelgem 8210</p>
			<a href="tel:050 24 05 95" class="font-light text-[10px] block hover:font-bold">050 24 05 95</a>
			<a href="mailto:nick@dvtransport.be" class="font-light text-[10px] block hover:font-bold">nick@dvtransport.be</a>
			<div class="flex justify-center items-center gap-4 pt-2">
				<a href="/" class="uppercase font-light text-[10px] hover:text-[#4d4d4d] hover:underline">Facebook</a>
				<a href="/" class="uppercase font-light text-[10px] hover:text-[#4d4d4d] hover:underline">Instagram</a>
			</div>
		</div>
	</div>
	<div class="bg-[#ebebeb] py-1.5">
		<div class="container">
			<div class="flex flex-col md:flex-row gap-1 md:gap-4 justify-between text-center md:text-left">
				<div class="font-light text-xs">
					Copyright © 2024 - Devooght - Verleye - All rights reserved Disclaimer - <a href="/" class="hover:text-brand-primary hover:underline">Privacy</a> - <a href="/" class="hover:text-brand-primary hover:underline">Cookies</a>
				</div>
				<span class="text-[10px] font-light">Webdesign by respons.</span>
			</div>
		</div>
	</div>
</div>
