<div class="absolute z-40 top-0 inset-x-0">
	<div class="absolute z-50 bg-linear-to-b from-black w-full h-full"></div>
	<div class="container pt-9 lg:pt-11 pb-11 lg:pb-14 relative z-50">
		<div class="flex gap-10 justify-between">
			<a href="/" class="shrink-0">
				<img src="/img/logo-white.png" class="h-8 lg:h-9" alt="">
			</a>
			<div class="space-y-2 hidden lg:block">
				<ul class="flex justify-end gap-7">
					<li>
						<a href="/" class="font-bold text-white uppercase text-sm">HOME</a>
					</li>
					<li><a href="/" class="text-white uppercase text-sm">DIENSTEN</a></li>
					<li><a href="/" class="text-white uppercase text-sm">ONDERHOUD</a></li>
					<li><a href="/" class="text-white uppercase text-sm">OVER ONS</a></li>
					<li><a href="/" class="text-white uppercase text-sm">Jobs</a></li>
					<li><a href="/" class="text-white uppercase text-sm">Contact</a></li>
					<li class="flex items-center"><div class="w-px h-3 bg-white"></div></li>
					<li>
						<form>
							<select name="language" id="language" class="p-0 bg-transparent border-0 text-white uppercase text-sm">
								<option value="NL">NL</option>
								<option value="ZZ">ZZ</option>
							</select>
						</form>
					</li>
				</ul>
				<div class="flex gap-3 items-center justify-end">
					<a href="tel:+32 050 24 05 95" class="font-bold text-white uppercase border border-white py-px px-2 rounded-full text-sm">+32 050 24 05 95</a>
					<a href="/" class="font-bold text-white uppercase border border-white py-px px-2 rounded-full text-sm uppercase">offerte aanvragen</a>
				</div>
			</div>
			<div class="block lg:hidden">
				<svg class="text-white h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
			</div>
		</div>
	</div>
</div>
